{% extends 'main/base.html' %}

{% block title %}Create new list{% endblock %}
{% block content %}
<h2>By writing a tweet in the text box below, you will be able to check our model prediction in real time, the prediction will classify if the tweet is pro or anti covid-19.
</h2>
<form method="POST" action="/test/" class="form-group">
    {% csrf_token %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button type="submit", name="save" class="btn btn-success">Try the model</button>
        </div>
        {{form.name}}
    </div>
    <h2>The prediction is: {{output}}.></h2>
    <h2>The probability that this is an anti vaccine tweet is: {{preds}}</h2>
</form>
{% endblock %}
